.quiz {
  border-radius: .8rem;
  }
.quiz li {
  padding-left:3rem;
  }
.quiz li::before {
  font-family: bootstrap-icons !important;
  padding-top:0.3rem;
  padding-right: 1rem;
  margin-left:-2rem;
  font-size: 1rem;
  vertical-align: top;
  }
.quiz li.unselected::before {
  content: "\f28a";
  }
.quiz li.selected::before {
  content: "\f287";
  color: #666666;
  }
.quiz li.unselected-true::before {
  content: "\f26b";
  color: #5CA551;
  }
.quiz li.selected-true::before {
  content: "\f26a";
  color: #5CA551;
  }
.quiz li.unselected-false::before {
  content: "\f5e7";
  }
.quiz li.selected-false::before {
  content: "\f5e6";
  color: #FF3B30;
  }
.selected-false {
  color:#666666;
  background-color: #FFD6D3;
  border-top: none;
  border-bottom: none;
  }
.selected-true {
  background-color:#DBF6CF;
  border-top: none;
  border-bottom: none;
  }
.unselected-false {
  color:lightgray;
  }
.unselected-true {
  background-color:#DBF6CF;
  border-top: none;
  border-bottom: none;
  }